.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
}

body {
  margin: 0;
}

ul, li {
  margin: 0 0;
  padding: 0 0;
  list-style-type: none;
}

p {
  margin: 0 0;
  padding: 0 0;
}
